.skills-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.icon-cloud-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  .icon-cloud-container {
    transform: scale(1);
  }
}

@media screen and (max-width: 480px) {
  .icon-cloud-container {
    transform: scale(0.8);
  }
}